.note {
  background-color: #d8d171;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
