.search {
  display: flex;
  align-items: center;
  background-color: #2d2a3f;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}



.search input {
  border: none;
  background: none;
  outline: none;
}

.search input::placeholder {
  color: white;
}